button {
    width: 5em;
    height: 2em;
}
#ghost-button{
    background-color: black;
}

#visible-button{
    background-color: white;
}

#toggle-button{
    background-color: gray;
}

.color-button{
    background-color:pink;
}

.ghost{
    background: gray;
    width: fit-content;
    padding: 0.2em;
    border-radius: 0.5em;
}

.invisible{
    visibility: hidden;
}

.lights {
	display: inline-flex;
	flex-direction: column;
	border: 2px solid black;
	background: darkgray;
	padding: 0.25em;
	margin: 0.3em;
    max-width: 7em;
}
.lights > * {
	width: 2em;
	height: 2em;
	border-radius: 100%;
	border: 1px solid black;
	margin: 0.25em;
}
.top.on {
	background-color: #F13C1E;
}
.middle.on {
	background-color: #E7D81D;
}
.bottom.on {
	background-color: #37A11D;
}

div{
    border: solid 2px white;
    border-radius: 1em;
    padding: 2em;
    margin-top: 1em;
}

.flex1{
    background: yellow;
}

.flex2{
    background: green;
}

.flex3{
    background: darkblue;
}

.flex4{
    background: orangered;
    display: flex;
    flex-direction: column;
}